:root {
  /* Colors */
  --card: #c5e0eac0;
  --card-dark: #9db3bb;
  /* Type */
  --mono: monospace;
  --sans-serif: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  /* Calendar */
  --calendar-minutes: 720;
}

* { box-sizing: border-box; }

body { font-family: var(--sans-serif); }

h1 { text-align: center; }

.calendar {
  display: grid;
  grid-template-columns: 100px 1fr;
}
.calendar__hours {
  display: grid;
  grid-column: 1 / span 1;
  grid-template-rows: repeat(var(--calendar-minutes), 1px);
}
.calendar__hours > b {
  font-weight: normal;
  grid-row: span 60;
  margin-right: 0.5rem;
  position: relative;
  text-align: right;
  top: -10px;
  user-select: none;
}
.calendar__day {
  background: repeating-linear-gradient(
    var(--card-dark) 0px,
    transparent 1px,
    transparent 60px,
    var(--card-dark) 60px
  );
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--calendar-minutes), 1px);
  list-style: none;
  margin: 0;
  padding: 0;
}
.event {
  background-color: #c5e0ea;
  background-color: var(--card);
  border: 1px solid var(--card-dark);
  grid-column: 1 / 2;
  grid-row: var(--event-start) / span var(--event-span);
  left: var(--event-position);
  margin-bottom: -1px;
  min-height: 2.25em;
  overflow: hidden;
  padding: 0.5rem 0.25rem;
  position: relative;
  text-overflow: ellipsis;
  width: var(--event-width);
  white-space: nowrap;
}
.event--compact > .event__time {
  display: inline;
  margin: 0 0.5rem;
}
.event__time {
  display: block;
}
.event__title {
  font-weight: bold;
}
.event__location::before {
  content: ' / ';
}